.outputBox{
    height: auto;
    width: 50vw;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 8px;
    margin: 30px auto;
    padding: 15px;

}
.outputList{
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: default;
}